<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <strong>Username:</strong>
  <%= @quote.username %>
<p>
  <strong>Body:</strong>
  <%= @quote.body %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
